MONGO_URI=mongodb+srv://ocr-app:ocrapp@cluster0.ctb8m40.mongodb.net/?appName=Cluster0
PORT=3000

# Not needed when using claude api 
GOOGLE_APPLICATION_CREDENTIALS=
PROJECT_ID=
PROCESSOR_ID=
LOCATION=us

#  Create clude developer api key and then add api below
ANTHROPIC_API_KEY=

OCR_PROVIDER=claude