name: app
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.3

dependencies:
  flutter:
    sdk: flutter
  camera: ^0.11.3
  image_cropper: ^11.0.0
  path_provider: ^2.1.5
  http: ^1.6.0
  sqflite: ^2.4.2
  path: ^1.9.1
  uuid: ^4.5.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
